<head>
  <!-- Plotly.js -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- Numeric JS -->
    <script src="jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

<center><h2 style="padding-top: 30;"><u>Plotly charts powered by DjangoAPI</u></h2> </center>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg text-center" style="position:fixed">
          <div id="myDiv" style="
    padding-left: 325;">


          </div>
      <div class="col-lg text-center" style="
    padding-left: 440;"><div id="myDiv2">

      </div>
    </div>
  </div>

  <br>


  <script>
    <!-- JAVASCRIPT CODE GOES HERE -->
    var a=0,b=0,c=0,d=0,e=0,f=0,g=0,h=0,m=0,f=0;
$.ajax({
    type: "GET",
    async: false,
    url: "http://127.0.0.1:8000/survaider/api/Adultsdata/",

    success: function(msg){
        console.log(msg);

        for (var i=0;i<msg.length; i++)
        {
        if(msg[i].sex==="Male")
        {
        m+=1;
        }
        if(msg[i].sex==="Female")
        {
        f+=1;
        }
        if(msg[i].martial_status==="Never-married")
        {
        a+=1;
        }
        if(msg[i].martial_status==="Married-civ-spouse")
        {
        b+=1;
        }
        if(msg[i].martial_status==="Divorced")
        {
        c+=1;
        }
        if(msg[i].martial_status==="Never-married")
        {
        d+=1;
        }
        if(msg[i].martial_status==="Separated")
        {
        e+=1;
        }

        if(msg[i].martial_status==="Married-AF-spouse")
        {
        f+=1;
        }
        if(msg[i].martial_status==="Married-spouse-absent")
        {
        g+=1;
        }
        if(msg[i].martial_status==="Widowed")
        {
        h+=1;
        }
        }

    },
});
console.log(a);
    var data = [{
  values: [a,b,c,d,e,f,g,h],

  labels: ['Never-married', 'Married-civ-spouse', 'Divorced','Never-married','Separated'
  ,'Married-AF-spouse','Married-spouse-absent','Widowed'],
  type: 'pie'
}];

var layout = {
  autosize: false,
  width: 670,
  height: 380,
  title: 'RelationShip status of the people',

};
Plotly.newPlot('myDiv', data, layout);

var layout2 = {
  autosize: false,
  width: 410,
  height: 365,
  title: 'Distribution of Male and Female'
};
var data = [
  {
    x: ['Males', 'Females'],
    y: [m, f],
    type: 'bar',
  }
];

Plotly.newPlot('myDiv2', data,layout2);

  </script>
</body>